<h1>First Steps</h1>
<p><h2>First Steps is a photo site for all the firsts in your life. Life is an everchanging landscape where we
are always starting something new. Let us know about your firsts. Whether it's the first time you've been
swimming with dolphins, or sharks. Maybe, it was your first day at a new job, or your new dorm. Was it your
first time kissing, or smoking? Whatever first you had or are having, let's share. We are leaving in a world
where we all should know everything about everyone. No more secrets. Let's put it out there!</h2></p>
